@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary: #052D6B;
  --secondary: #FFFFFF;
  --tertiary: #FCB817;
  --d-header-icon-background--hover: transparent;
  --d-nav-color--active: #052D6B;

  --font-family: "Instrument Sans", sans-serif;
}

html, body {
  font-family: var(--font-family) !important;
}

button,
input,
textarea,
select,
.btn,
.d-header,
.topic-list-item,
.title,
p,
a {
  font-family: var(--font-family) !important;
}

.d-header {
  background-color: #052D6B;
}

.d-header .title {
  color: #FFFFFF;
}

.btn-primary {
  background-color: #052D6B;
  border-color: #052D6B;
}

.btn-primary:hover {
  background-color: #072C64;
}

a {
  color: #052D6B;
}

a:hover {
  color: #FCB817;
}

.selected,
.topic-list-item.selected {
  background-color: #DCF2FD;
}

.topic-list-item:hover {
  background-color: #F4F4F4;
}

.discourse-tag {
  background-color: #DCF2FD;
  color: #052D6B;
}

.d-header .header-sidebar-toggle .btn:hover .d-icon,
.d-header .d-header-icons .btn:hover .d-icon {
  background-color: #052D6B !important;
  opacity: 1 !important;
  color: #FFFFFF;
}

.header-sidebar-toggle button:hover {
  background-color: transparent !important;
}


.d-header .search-input,
.search-menu .search-input,
.search-container .search-input {
  border-radius: 4px;
  border: 1px solid #CCCFDE;
  background: #F9F9F9;
}

#create-topic {
  border-radius: 5px;
  border: 1px solid #FFF;
  background: #052D6B;
  color: #FFFFFF;

  .d-icon {
    color: #FFFFFF;
  }
}

#navigation-bar {
  border-bottom: 1px solid #c9d5d9;
}

#navigation-bar.nav-pills>li.active>a,
#navigation-bar.nav-pills>li>a.active {
  color: #052D6B !important;
  font-weight: 600;
}

#navigation-bar.nav-pills>li>a {
  color: #666 !important;
  background: transparent;
}

#navigation-bar.nav-pills>li>a:hover {
  color: #052D6B !important;
  background: #f3f6f8;
}