@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary: #052D6B;
  --secondary: #FFFFFF;
  --tertiary: #FCB817;

  --font-family: "Instrument Sans", sans-serif;
}

html, body {
  font-family: var(--font-family) !important;
}

button,
input,
textarea,
select,
.btn,
.d-header,
.topic-list-item,
.title,
p,
a {
  font-family: var(--font-family) !important;
}

.d-header {
  background-color: #052D6B;
}

.d-header .title {
  color: #FFFFFF;
}

.btn-primary {
  background-color: #052D6B;
  border-color: #052D6B;
}

.btn-primary:hover {
  background-color: #072C64;
}

a {
  color: #052D6B;
}

a:hover {
  color: #FCB817;
}

.selected,
.topic-list-item.selected {
  background-color: #DCF2FD;
}

.topic-list-item:hover {
  background-color: #F4F4F4;
}

.discourse-tag {
  background-color: #DCF2FD;
  color: #052D6B;
}

.d-header .btn:hover,
.d-header .btn:focus,
.d-header .btn:active {
  background-color: #052D6B !important;
  border-color: #052D6B !important;
  color: #FFFFFF !important;
  box-shadow: none !important;
}

.d-header .btn:hover .d-icon,
.d-header .btn:focus .d-icon,
.d-header .btn:active .d-icon {
  color: #FFFFFF !important;
  opacity: 1 !important;
}